.feed {
  display: grid;
  gap: var(--xxsmall-spacing);
  grid-template-columns: repeat(auto-fill, [col-start] 19.2rem [col-end]);
  justify-items: center;
}

.feed-image {
  width: 19.2rem;
  height: 35rem;
  object-fit: cover;
}

